<!doctype html>
<html>
<head>
    <title>Mental Check-In</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Mental Check-In</h1>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3.eu-west-2.amazonaws.com%2Ffifteen-uploads%2Fuploads%2F2017%2F05%2Fmentalhealth.jpg&f=1&nofb=1" alt="21 Savage Profile Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
